*{
    padding: 0;
    margin: 0;
    list-style-type:none ; 
     box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #658249;
}
main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

ul{
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: gap;
    grid-template-rows: repeat((8, 1fr));
    
    margin: 30px auto;

}
.game{
    display: none;
    width: 480px;
    height: 480px;
    margin-top:30px ;
    border:2px solid #eeeed2;
    
}
.a{
   
    display: flex;
}
.b{
   
    display: flex;
 }
 .c{
   
    display: flex;
 }
 .d{
   
    display: flex;
 }
 .e{
   
    display: flex;
 }
 .f{
   
    display: flex;
 }
 .g{
    display: flex;
   
    
 }
 .h{
   
    display: flex;
 }

button{
    margin-top: 30px;
}

#restart{
    display: none;
    width: 100px;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    
}
#play{
    
    width: 100px;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
}

li{
    cursor: pointer;
    width: 60px;
    height: 60px;
    
}

li div img{
    width: 100%;
    height: 100%;
    
}

.a li:nth-child(odd){
    background-color: #eeeed2;
}

.b li:nth-child(even){
    background-color: #eeeed2;
}

.c li:nth-child(odd){
    background-color: #eeeed2;
}

.d li:nth-child(even){
    background-color: #eeeed2;
}

.e li:nth-child(odd){
    background-color: #eeeed2;
}

.f li:nth-child(even){
    background-color: #eeeed2;
}

.g li:nth-child(odd){
    background-color: #eeeed2;
}

.h li:nth-child(even){
    background-color: #eeeed2;
}
